<header class="header page-header image-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-title"><span><%= page_title(@conn) %></span></h1>
      </div>
    </div>
  </div>
</header>
